<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel">Confirmation</h5>
      </div>
      <div class="modal-body">
        This will delete the current task. Proceed?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= link_to category_task_path(current_user.username, @category, @task), data: { turbo_method: :delete }, class: "btn btn-primary" do %>
          Continue
        <% end %>
      </div>
    </div>
  </div>
</div>