<%= render "layouts/components/breadcrumb", category: @category ||= nil, task: @task ||= nil %>

<div class="container my-4">
  <h1>Edit Task</h1>
  <%= link_to "Return", category_task_path(@category, @task) %>
  <hr>

  <%= render "form" %>
</div>