<div class="container my-4 p-5 d-flex justify-content-center">
  <div class="col p-3 bg-primary text-white shadow">
    <h1>Welcome to Pluma</h1>
    <hr>
    <p class="p-3 mb-5">Organize day-to-day tasks and save time for the things that matter most to you.</p>
    <div class="d-flex justify-content-between">
      <a href="https://github.com/RJAA-25/Journal-App" target="_blank" class="btn btn-light text-primary"><i class="bi bi-github"></i></a>
      <a href="/login" class="btn btn-light"><%= current_user ? "Go to Dashboard" : "Get Started" %></a>
    </div>
  </div>
</div>