$primary: #540d6e;

@import "bootstrap";

.bg-purple {
  background-color: #540d6e;
}

.bg-main {
  background-color: #e9ecef;
}

// .nav-pills .nav-link.active,
// .nav-pills .show > .nav-link {
//   background-color: #540d6e;
// }
