<div class="container pb-2 mt-0 mb-4 bg-white shadow">
  <div class="nav nav-pills mb-1 row" id="pills-tab" role="tablist">
    <button class="nav-link active col" id="pills-today-tab" data-bs-toggle="pill" data-bs-target="#pills-today" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Today</button>
    <button class="nav-link col" id="pills-overdue-tab" data-bs-toggle="pill" data-bs-target="#pills-overdue" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Overdue</button>
  </div>
  <div class="tab-content py-2" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-today" role="tabpanel" aria-labelledby="pills-today-tab" tabindex="0">
      <div class="p-3 m-2 bg-secondary bg-opacity-10 border border-2 text-center">
          No scheduled tasks
      </div>
      <div class="px-3 pt-3 pb-2 m-2 bg-secondary bg-opacity-10 border border-2 text-primary">
        <p>Watch design tutorials on Youtube</p>
        <p  class="fw-light text-end text-muted mb-0">Complete by 10:00</p>
      </div>
      <div class="px-3 pt-3 pb-2 m-2 bg-secondary bg-opacity-10 border border-2 text-primary">
        <p>Watch design tutorials on Youtube</p>
        <p  class="fw-light text-end text-muted mb-0 text-primary">Complete by 10:00</p>
      </div>
    </div>
    
    <div class="tab-pane fade" id="pills-overdue" role="tabpanel" aria-labelledby="pills-overdue-tab" tabindex="0">
      <div class="p-3 m-2 bg-secondary bg-opacity-10 border border-2 text-center">
        No overdue tasks
      </div>
      <div class="px-3 pt-3 pb-2 m-2 bg-secondary bg-opacity-10 border border-2 text-danger">
        <p>Watch design tutorials on Youtube</p>
        <p  class="fw-light text-end text-muted mb-0">Complete by 10:00</p>
      </div>

      <div class="px-3 pt-3 pb-2 m-2 bg-secondary bg-opacity-10 border border-2 text-danger">
        <p>Watch design tutorials on Youtube</p>
        <p  class="fw-light text-end text-muted mb-0">Complete by 10:00</p>
      </div>
    </div>
  </div>
</div>