<!-- Profile Placeholder -->
<div class="container mb-4 shadow-sm bg-white">
  <div class="row py-1 d-flex align-items-center">
    <div class="col-3 col-lg-2 p-3 d-flex justify-content-center align-items-center">
      <img class="img-fluid rounded-circle" src="https://avatars.dicebear.com/api/big-smile/default-avatar.svg?backgroundColor=%23540d6e" alt="Default Avatar">
    </div>
    <div class="col px-4 border-start border-2 border-secondary ">
      <p class="fw-bold fs-4 mb-0 col-auto">Juan dela Cruz</p>
      <p class="text-muted fs-5 col">@ username</p>
      <p class="d-none d-xl-block fw-light fs-6 col-12">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates iusto eveniet perferendis, facere voluptatum inventore sunt, molestiae quis magnam quisquam, autem illo suscipit expedita blanditiis voluptatibus fugit repellendus nisi? Nobis!</p>
    </div>
  </div>
</div>