<%= render "layouts/components/breadcrumb", category: @category ||= nil, task: @task ||= nil %>

<div class="container my-4">
  <h1>Edit Category</h1>
  <%= link_to "Return", category_path(@category) %>
  <hr>
  <%= render "form" %>
</div>
