<%= render "layouts/components/breadcrumb", category: @category ||= nil, task: @task ||= nil %>

<h1>Edit Category</h1>
<%= link_to "Return", category_path(@category) %>
<hr>

<%= render "form" %>

<hr>
<%= link_to "All Categories", categories_path %>