<h1>View Category</h1>
<%= link_to "Edit", edit_category_path(@category) %> | 
<%= link_to "Delete", category_path(@category), data: { turbo_method: :delete, turbo_confirm: "#{@category.name} category will be deleted. Are you sure?"} %>
<hr>

<%= render "category", obj: @category %>

<hr>
<%= link_to "All Categories", categories_path %>